@charset "utf-8";
#navbar {
	width:660px;
}

#navbar #holder{
	height:35px;
	border-bottom::1px solid #000;
	width:800px;
	padding-left:25px;
}

#navbar #holder ul{
list-style:none;
margin:0;
padding:0;
}
#navbar #holder ul li a{
	text-decoration:none;
	float:left;
	margin-right:5px;
	font-family:"Arial Black", Gadget, sans-serif;
	color:#000;
	border:1px solid #000;
	border-bottom:none;
	padding:none;
	width:200px;
	text-align:center;
	display:block;
	background: #FFF;
	font-size: 12px;
	border-top-left-radius: 10px;
		border-top-right-radius: 10px;
}
#holder ul li a:hover{
background:#CCC;
color:#FFF;
text-shadow:2px 2px 2px #000;
}

#holder ul li a#Search{
background:#FFF;
color:#000;
border-bottom:1px solid #FFF;
width:300px
}
#submit {
   margin-left: 400px;
}



